@import '../../sass/variables';
@import '../../sass/material-input';
@import '../../sass/penta-button';


.board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.title {
  color: $pentasys-red;
  font-family: $big-titles-lato;
  text-align: center;
  text-shadow: 2px 2px 3px #a7a7a7;
  border-bottom: 8px solid #607D8B;
  width: 400px;
  margin: auto;
  flex-basis: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  font-size: 63px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 2;
    cursor: pointer;
}

.box {
  text-align: center;
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-family: 'Dosis', sans-serif;
  transition: width 300ms cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

.details {
  z-index: 555;
  position: absolute;
  min-height: 70vh;
  width: 50vw;
  top: calc(30vh / 2);
  left: calc(50vw /2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  background-color: #FF5722;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  line-height: 59px;
  margin-bottom: 30px;
  color: white;
  display: block;
}

penta-column {
  min-width: 300px;
  background-color: #F4F5F7;
  margin: 1px;
}
